.btn {
  &,
  &:link,
  &:visited {
    font-family: inherit;
    background-color: $color-tertiary-dark;
    text-decoration: none;
    padding: 2rem 3.2rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-weight: 600;
    font-size: $default-font-size;
    line-height: 2rem;
    color: $color-white;
    @include respond(phone) {
      padding: 12px 14px;
      font-size: 14px;
      line-height: 18px;
    }
  }
  & {
    //Change for the <button> element
    border: none;
    // background: none;
    cursor: pointer;
  }

  &__white {
    &,
    &:link,
    &:visited {
      background-color: $color-white;
      color: $color-primary;
      border: 1px solid $color-primary;
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }

  &__yellow {
    &,
    &:link,
    &:visited {
      background-color: #fbbc05;
      border-radius: 5px;
      padding: 8px 12px;
    }
  }

  &__cart {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    &::before {
      content: "0";
      position: absolute;
      top: -6px;
      left: 4px;
      padding: 0.5px 4px;
      border-radius: 50%;
      font-size: 11px;
      background-color: $color-red;
      color: $color-white;
    }
    & i {
      color: $color-blue;
      font-size: 24px;
    }
  }

  &:hover {
    transform: translateY(-3px);
    /*          X  Y   blur        color*/
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
