.single-2 {
  &__archive {
    max-width: 89.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__post {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid $color-grey-7;

    &--left {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      max-width: 58rem;
    }
    & a {
      transition: all 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.grid-columns-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  gap: 12px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
