.container {
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-land) {
    max-width: 100%;
    margin: 0 24px;
  }

  @include respond(tab-phone) {
    margin: 0 16px;
  }

  @include respond(phone-small) {
    margin: 0 12px;
  }

  // @include respond(phone) {
  //   margin: 0 2rem;
  // }
}

.img {
  width: 100%;
  height: auto;
}

.white {
  color: $color-white;
}

.mobile-hidden {
  @include respond(phone) {
    display: none !important;
  }
}

.mobile-show {
  display: none !important;
  @include respond(phone) {
    display: inline-block !important;
  }
}

.tablet-hidden {
  @include respond(tablet) {
    display: none !important;
  }
}
.tablet-show {
  display: none !important;
  @include respond(tablet) {
    display: flex !important;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 2.4rem !important;
  @include respond(phone-small) {
    margin-bottom: 8px !important;
    &.heading-h4 {
      margin-bottom: 16px !important;
    }
  }
}

.u-margin-bottom-smallest {
  margin-bottom: 8px !important;
  @include respond(phone-small) {
    margin-bottom: 4px !important;
  }
}

.u-margin-bottom-smallest-2 {
  margin-bottom: 1.6rem !important;
  @include respond(phone-small) {
    margin-bottom: 12px !important;
  }
}

.u-margin-bottom-smallest-3 {
  margin-bottom: 1.4rem !important;
}

.u-margin-bottom-smallest-4 {
  margin-bottom: 1.2rem !important;
  @include respond(phone-small) {
    margin-bottom: 8px !important;
  }
}

.u-margin-bottom-medium-1 {
  margin-bottom: 3.2rem !important;
  @include respond(tablet) {
    margin-bottom: 16px !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  @include respond(tablet) {
    margin-bottom: 32px !important;
  }
  @include respond(phone-small) {
    margin-bottom: 24px !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 5.2rem !important;
  @include respond(tab-port) {
    margin-bottom: 3.2rem !important;
  }
  @include respond(phone) {
    margin-bottom: 24px !important;
  }
}

.u-margin-top-big {
  margin-top: 5.2rem !important;
  @include respond(tablet) {
    margin-top: 32px !important;
  }
  @include respond(phone-small) {
    margin-top: 24px !important;
  }
}

.u-margin-top-huge {
  margin-top: 7rem !important;
  @include respond(tab-land) {
    margin-top: 4rem !important;
  }
  @include respond(tablet) {
    margin-top: 32px !important;
  }
  @include respond(tab-phone) {
    margin-top: 24px !important;
  }
  @include respond(phone-small) {
    margin-top: 6px !important;
  }
}
