$n: 7;
$gg: 1em;
$d: 5em;
$g: 0.125em;
$b: 0.375em;
$r: $b/2;
$o: -1 * ($b + $g);
$m: $g - $o;
$fs: 2.5;
$ro: 50%;
$rm: calc(50% - #{$r});
$ri: calc(50% - #{$b});
$pi: 3.14159265358979;

@function double($ua, $i) {
  $a0: $i * $ua;
  $a1: $a0 + 0.25 * $ua;
  $a2: $a0 + 0.5 * $ua;
  $a3: $a1 + 0.5 * $ua;
  $a4: $a0 + $ua;
  $list: ();

  $xo: 50% + $ro * cos($a1);
  $yo: 50% + $ro * sin($a1);

  @return $list, $xo $yo,
    calc(50% + #{$ri}*#{cos($a2)}) calc(50% + #{$ri}*#{sin($a2)}),
    calc(50% + #{$ri}*#{cos($a0)}) calc(50% + #{$ri}*#{sin($a0)}), $xo $yo,
    50% + $ro * cos($a2) 50% + $ro * sin($a2),
    50% + $ro * cos($a4) 50% + $ro * sin($a4),
    calc(50% + #{$ri}*#{cos($a3)}) calc(50% + #{$ri}*#{sin($a3)}),
    50% + $ro * cos($a2) 50% + $ro * sin($a2), $xo $yo;
}

@function points($n, $fn-name, $fn-args) {
  $ua: 2 * $pi / $n;
  $list: ();
  $x0: 100%;
  $y0: 50%;

  @for $i from 0 to $n {
    $list: $list, call($fn-name, $ua, $i, $fn-args...), $x0 $y0;
  }

  @return $list;
}
