$color-primary: #06162f;
$color-primary-light: rgba(6, 22, 47, 0.8);
$color-primary-light-1: rgba(6, 22, 47, 0.6);
$color-primary-light-2: rgba(6, 22, 47, 0.03);
$color-primary-light-3: rgba(6, 22, 47, 0.1);

$color-tertiary-light: rgba(33, 118, 255, 0.1);
$color-tertiary-dark: #3970ce;

$color-grey--light: #777777;
$color-grey: #bbb;
$color-grey-2: #dbe0e2;
$color-grey-3: #8d8d8d;
$color-grey-4: #ddd;
$color-grey-5: #171717;
$color-grey-6: #fafafb;
$color-grey-7: #d1d1d2;
$color-grey-8: #e1e1e1;
$color-grey-9: #fbfbfb;
$color-grey-10: #fafafa;
$color-grey-11: #dcddde;
$color-grey-dark: #0a1736;

$color-white: #fff;
$color-black: #000;
$color-red: #c5161c;
$color-orange: #cfa014;
$color-blue: #054f80;
$color-blue-dark: #083588;

//RADIUS
$border-radius-small: 3px;

// FONT
$default-font-size: 14px;

$font-primary: "Open Sans";
$font-secondary: "Anek Latin";
$font-tertiary: "Asap";
