/*
0 - 600px:   Phone
600 - 900px:  Table portrait
900 - 1200px:  Tablet landscape
(1200 - 1800) is where our normal styles apply
1800px + :  Big desktop

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

$breakpoint arguement choices: 
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@keyframes LineMoveToRight {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

* {
  font: inherit;
  scroll-behavior: smooth; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

::selection {
  background-color: #06162f;
  color: #fff; }

.woocommerce {
  max-width: 114rem;
  margin: 0 auto; }

body {
  font-family: "Open Sans";
  color: #06162f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; }
  @media only screen and (max-width: 25em) {
    body {
      font-size: 12px;
      line-height: 14px; } }

strong {
  font-weight: 700; }

.heading-primary {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700; }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 28px;
      line-height: 28px; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 24px;
      line-height: 24px; } }
  @media only screen and (max-width: 25em) {
    .heading-primary {
      font-size: 18px;
      line-height: 18px; } }
  .heading-primary--sub {
    display: block;
    font-size: 16px;
    line-height: 18px; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 14px;
        line-height: 22px; } }
    @media only screen and (max-width: 25em) {
      .heading-primary--sub {
        font-size: 12px;
        line-height: 16px; } }
  .heading-primary--mid {
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--mid {
        font-size: 24px;
        line-height: 22px; } }
    @media only screen and (max-width: 25em) {
      .heading-primary--mid {
        font-size: 20px;
        line-height: 21px; } }

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.02em;
  transition: all 0.2s ease; }
  .heading-secondary--white {
    color: #fff; }
  @media only screen and (max-width: 25em) {
    .heading-secondary {
      font-size: 18px;
      line-height: 23px; } }

.heading-tertiary {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.02em; }
  @media only screen and (max-width: 25em) {
    .heading-tertiary {
      font-size: 16px;
      line-height: 120%; } }

.heading-h4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #06162f; }
  @media only screen and (max-width: 25em) {
    .heading-h4 {
      font-size: 18px;
      line-height: 20px; } }

.sub-heading {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em; }
  .sub-heading--upper {
    text-transform: uppercase; }

.container {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 100%;
      margin: 0 24px; } }
  @media only screen and (max-width: 43.75em) {
    .container {
      margin: 0 16px; } }
  @media only screen and (max-width: 25em) {
    .container {
      margin: 0 12px; } }

.img {
  width: 100%;
  height: auto; }

.u-flex {
  display: flex; }

.u-justify-center {
  justify-content: center; }

.u-space-between {
  justify-content: space-between; }

.white {
  color: #fff; }

@media only screen and (max-width: 37.5em) {
  .mobile-hidden {
    display: none !important; } }

.mobile-show {
  display: none !important; }
  @media only screen and (max-width: 37.5em) {
    .mobile-show {
      display: inline-block !important; } }

@media only screen and (max-width: 64em) {
  .tablet-hidden {
    display: none !important; } }

.tablet-show {
  display: none !important; }
  @media only screen and (max-width: 64em) {
    .tablet-show {
      display: flex !important; } }

.u-center-text {
  text-align: center !important; }

.u-blue-text {
  color: #054f80; }

.u-italic-text {
  font-style: italic; }

.u-strong-text {
  font-weight: 700; }

.u-grey-text {
  color: #171717; }

.u-margin-bottom-small {
  margin-bottom: 2.4rem !important; }
  @media only screen and (max-width: 25em) {
    .u-margin-bottom-small {
      margin-bottom: 16px !important; } }

.u-margin-bottom-smallest {
  margin-bottom: 8px !important; }
  @media only screen and (max-width: 25em) {
    .u-margin-bottom-smallest {
      margin-bottom: 4px !important; } }

.u-margin-bottom-smallest-2 {
  margin-bottom: 16px !important; }
  @media only screen and (max-width: 25em) {
    .u-margin-bottom-smallest-2 {
      margin-bottom: 12px !important; } }

.u-margin-bottom-smallest-3 {
  margin-bottom: 1.4rem !important; }

.u-margin-bottom-smallest-4 {
  margin-bottom: 1.2rem !important; }
  @media only screen and (max-width: 25em) {
    .u-margin-bottom-smallest-4 {
      margin-bottom: 8px !important; } }

.u-margin-bottom-medium-1 {
  margin-bottom: 3.2rem !important; }
  @media only screen and (max-width: 64em) {
    .u-margin-bottom-medium-1 {
      margin-bottom: 16px !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 64em) {
    .u-margin-bottom-medium {
      margin-bottom: 32px !important; } }
  @media only screen and (max-width: 25em) {
    .u-margin-bottom-medium {
      margin-bottom: 24px !important; } }

.u-margin-bottom-big {
  margin-bottom: 5.2rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 3.2rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 24px !important; } }

.u-margin-top-big {
  margin-top: 3.2rem !important; }
  @media only screen and (max-width: 64em) {
    .u-margin-top-big {
      margin-top: 24px !important; } }

.u-margin-top-huge {
  margin-top: 7rem !important; }
  @media only screen and (max-width: 75em) {
    .u-margin-top-huge {
      margin-top: 4rem !important; } }
  @media only screen and (max-width: 64em) {
    .u-margin-top-huge {
      margin-top: 32px !important; } }
  @media only screen and (max-width: 43.75em) {
    .u-margin-top-huge {
      margin-top: 24px !important; } }
  @media only screen and (max-width: 25em) {
    .u-margin-top-huge {
      margin-top: 6px !important; } }

.u-margin-top-medium {
  margin-top: 24px !important; }
  @media only screen and (max-width: 25em) {
    .u-margin-top-medium {
      margin-top: 16px !important; } }

.drop-down__hidden-box {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s; }

.card__blue {
  background: #effcff;
  border: 1px solid #d2f3fb;
  padding: 8px 14px;
  border-radius: 4px; }
  .card__blue--big {
    padding: 16px; }

.btn, .btn:link, .btn:visited {
  font-family: inherit;
  background-color: #3970ce;
  text-decoration: none;
  padding: 2rem 3.2rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 2rem;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      padding: 12px 14px;
      font-size: 14px;
      line-height: 18px; } }

.btn {
  border: none;
  cursor: pointer; }

.btn__white, .btn__white:link, .btn__white:visited {
  background-color: #fff;
  color: #06162f;
  border: 1px solid #06162f;
  display: flex;
  align-items: center;
  gap: 1.6rem; }

.btn__yellow, .btn__yellow:link, .btn__yellow:visited {
  background-color: #fbbc05;
  border-radius: 5px;
  padding: 8px 12px; }

.btn__cart {
  cursor: pointer;
  background: none;
  border: none;
  position: relative; }
  .btn__cart::before {
    content: "0";
    position: absolute;
    top: -6px;
    left: 4px;
    padding: 0.5px 4px;
    border-radius: 50%;
    font-size: 11px;
    background-color: #c5161c;
    color: #fff; }
  .btn__cart i {
    color: #054f80;
    font-size: 24px; }

.btn:hover {
  transform: translateY(-3px);
  /*          X  Y   blur        color*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.faq__questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  background: #fafafb;
  border-radius: 5px;
  padding: 24px; }
  .faq__questions > .heading-primary--sub {
    color: #054f80;
    padding-bottom: 8px;
    text-align: start;
    border-bottom: 1px solid #d1d1d2; }
    .faq__questions > .heading-primary--sub:not(:first-child) {
      margin-top: 12px; }
  @media only screen and (max-width: 37.5em) {
    .faq__questions {
      padding: 14px; } }

.faq__question {
  cursor: pointer; }

.faq__title {
  color: #054f80;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px; }
  @media only screen and (max-width: 37.5em) {
    .faq__title {
      padding: 12px; } }

.faq__answer {
  color: #777777; }

.faq__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap; }
  .faq__list i {
    font-size: 4px; }

.faq__link {
  color: #054f80;
  text-decoration: none;
  transition: all 0.3s; }
  .faq__link:hover {
    color: rgba(5, 79, 128, 0.8); }

.faq-page section > h3 {
  color: #054f80;
  font-weight: 500;
  width: 100%; }

.faq-page section > p {
  color: rgba(5, 79, 128, 0.8); }

.header {
  background-color: #fff; }
  .header__top {
    text-align: center;
    background-color: #c5161c;
    color: #fff;
    padding: 12px; }
    .header__top a {
      text-decoration: none;
      color: #fff;
      display: inline-block;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.3s; }
      .header__top a:hover {
        color: rgba(255, 255, 255, 0.9);
        text-decoration: underline; }
  .header__phone-number {
    display: flex;
    align-items: center;
    gap: 2px; }
    .header__phone-number span {
      color: #054f80;
      font-weight: 500; }
    .header__phone-number a {
      color: #000;
      text-decoration: none; }
  .header__content--nav {
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbb; }
    .header__content--nav.mobile {
      padding: 24px;
      gap: 32px;
      flex-direction: column;
      border: none; }
  .header__content--list {
    align-self: center;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2.4rem; }
    .header__content--list.mobile {
      flex-direction: column;
      gap: 32px; }
      .header__content--list.mobile a {
        font-size: 18px; }
  .header__content--link {
    text-decoration: none;
    color: #06162f;
    transition: all 0.2s;
    font-size: 12px;
    line-height: 14px; }
    .header__content--link:hover {
      color: rgba(6, 22, 47, 0.6); }
  .header__content--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem 0;
    gap: 16px; }
  .header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #bbb;
    border-radius: 40px;
    padding: 1.2rem 1.8rem;
    width: 100%;
    max-width: 31rem; }
    .header__search input {
      border: none;
      background: none; }
      .header__search input:focus {
        outline: none; }
      .header__search input::placeholder {
        color: #8d8d8d; }
    .header__search span {
      cursor: pointer; }
    .header__search i {
      font-size: 18px;
      color: #bbb; }
  .header__nav {
    height: 5.6rem;
    background-image: linear-gradient(0deg, #050e21, #0a1735); }
    .header__nav.mobile {
      height: auto;
      background-image: none; }
  .header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    .header__list.mobile {
      flex-direction: column;
      align-items: unset;
      gap: 12px;
      color: #06162f; }
      .header__list.mobile .header__link {
        font-size: 18px; }
      .header__list.mobile a {
        color: #06162f; }
      .header__list.mobile li:hover::after {
        width: 0%; }
      .header__list.mobile > li:not(:first-child) {
        margin-bottom: 12px; }
  .header__item {
    cursor: pointer;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center; }
    .header__item.mobile {
      display: unset; }
    .header__item::after {
      content: "";
      background-color: #3970ce;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 3px;
      z-index: 999;
      transition: all 0.3s ease; }
    .header__item:hover::after {
      width: 100%; }
  .header__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
    .header__link.mobile {
      color: #06162f;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header__link.mobile.drop-down__before-box {
        margin-bottom: 12px; }
  .header__browse {
    position: relative; }
    .header__browse a {
      font-size: 16px; }
    .header__browse.header__item a {
      display: flex;
      align-items: center;
      gap: 5px; }
      .header__browse.header__item a i {
        font-size: 10px; }
    .header__browse:hover > ul {
      opacity: 1;
      visibility: visible; }
  .header__submenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 14px; }
    .header__submenu.desktop {
      z-index: 99999;
      width: 40rem;
      padding: 12px;
      padding-top: 16px;
      border-top: 5px solid #cfa014;
      position: absolute;
      top: 50px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 7px 10px -2px #373737;
      display: flex;
      flex-direction: column;
      gap: 6px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in; }
    .header__submenu.desktop .header__submenu--item:last-child {
      margin-top: 8px; }
    .header__submenu--link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: #06162f;
      transition: all 0.2s;
      line-height: 18px; }
      .header__submenu--link:hover {
        color: #cfa014; }
    .header__submenu.x2 {
      gap: 8px;
      padding-top: 12px;
      padding-left: 18px; }
    .header__submenu.desktop.x2 {
      width: 31.6rem;
      top: -10px;
      left: 103%;
      border-radius: 0; }
      .header__submenu.desktop.x2 li:last-child {
        margin: 0; }
  .header__mobile--nav {
    width: 100vw;
    overflow: scroll;
    height: 100%;
    background-color: #fff;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.4s ease-in; }
    .header__mobile--nav.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%); }
  .header__mobile--header {
    align-self: center; }
    .header__mobile--header .close-btn {
      position: absolute;
      top: 16px;
      right: 24px; }
  .header__mobile--list {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out; }
    .header__mobile--list.active {
      height: auto;
      opacity: 1;
      visibility: visible; }
      .header__mobile--list.active.first {
        margin-top: 54px; }
  .header__mobile--btns {
    justify-self: center; }

.open-btn,
.close-btn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 32px; }

.drop-down__before-box i.fa-chevron-down {
  transition: all 0.3s; }

.drop-down__before-box.active i.fa-chevron-down {
  transform: rotate(180deg); }

.footer {
  margin-top: 64px;
  color: #777777; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      margin-top: 32px; } }
  .footer__top {
    width: 100%;
    background-color: #171717;
    padding: 4.2rem 0; }
    .footer__top .container {
      display: grid;
      grid-template-columns: 1.5fr repeat(3, 1fr); }
      @media only screen and (max-width: 43.75em) {
        .footer__top .container {
          grid-template-columns: 1fr 1fr;
          row-gap: 42px; } }
      @media only screen and (max-width: 37.5em) {
        .footer__top .container {
          grid-template-columns: 1fr;
          row-gap: 28px; } }
  .footer__bottom {
    padding: 2.4rem 0;
    width: 100%;
    background-color: #0c0c0c; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px; }
    .footer__list h4 {
      color: #fff; }
  .footer_item {
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .footer_item strong {
      font-weight: 700;
      color: #fff; }
  .footer__link:link, .footer__link:visited {
    line-height: 18px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s; }
  .footer__link:hover, .footer__link:active {
    color: #bbb; }
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 12px; }
    .footer__socials a {
      text-decoration: none;
      color: inherit; }
      .footer__socials a:hover i {
        transform: scale(1.1); }
    .footer__socials i {
      font-size: 24px;
      transition: all 0.2s; }

.section-widget-setState {
  display: grid;
  grid-template-columns: 1.57fr 3.25fr;
  align-items: center;
  background: #fafafb;
  border: 1px solid #d1d1d2;
  border-radius: 5px; }
  @media only screen and (max-width: 43.75em) {
    .section-widget-setState {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 43.75em) {
    .section-widget-setState .setState__left {
      display: none; } }
  .section-widget-setState .setState__right {
    padding: 16px 0; }
    .section-widget-setState .setState__right > * {
      text-align: center; }
    .section-widget-setState .setState__right h2 {
      color: #054f80;
      text-transform: uppercase; }
    .section-widget-setState .setState__right h4 {
      margin-top: 8px;
      font-weight: 700; }
    .section-widget-setState .setState__right h3 {
      line-height: 20px;
      background: #054f80;
      color: #fff;
      padding: 5px 16px; }
  .section-widget-setState .setState__qoute {
    font-size: 13px;
    line-height: 17px;
    font-style: italic;
    color: #171717; }
  .section-widget-setState .setState__p {
    color: #171717;
    padding: 0 16px; }
  .section-widget-setState .setState__red-p {
    font-weight: 700;
    line-height: 20px;
    color: #c5161c;
    max-width: 52.7rem;
    margin: auto; }

.section-benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fbfbfb;
  border-radius: 5px; }
  @media only screen and (max-width: 64em) {
    .section-benefits {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .section-benefits {
      grid-template-columns: 1fr; } }
  .section-benefits .benefits__benefit {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px; }
    @media only screen and (max-width: 37.5em) {
      .section-benefits .benefits__benefit {
        padding-left: 16px;
        justify-content: unset; } }
    .section-benefits .benefits__benefit i {
      font-size: 28px;
      color: #171717; }
    .section-benefits .benefits__benefit h4 {
      color: #171717;
      font-size: 16px;
      font-weight: 700; }
    .section-benefits .benefits__benefit:not(:last-child) {
      border-right: 1px solid #bbb; }
    @media only screen and (max-width: 64em) {
      .section-benefits .benefits__benefit:not(:last-child) {
        border-right: unset; }
      .section-benefits .benefits__benefit:nth-of-type(3) {
        grid-column: 1 / -1; }
      .section-benefits .benefits__benefit:nth-of-type(1) {
        border-right: 1px solid #bbb; } }
    @media only screen and (max-width: 37.5em) {
      .section-benefits .benefits__benefit:nth-of-type(3) {
        grid-column: unset; }
      .section-benefits .benefits__benefit:nth-of-type(1) {
        border-right: none; } }

.section-clients .swiper-slide {
  display: flex;
  justify-content: center; }

.section-clients .swiper-button-next,
.section-clients .swiper-button-prev {
  color: #054f80; }

.section-reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px; }
  @media only screen and (max-width: 64em) {
    .section-reviews {
      grid-template-rows: auto auto;
      column-gap: 16px; } }
  @media only screen and (max-width: 43.75em) {
    .section-reviews {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px; } }
  @media only screen and (max-width: 37.5em) {
    .section-reviews {
      grid-template-columns: 1fr; } }
  .section-reviews .reviews__review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px; }
  .section-reviews .reviews__text, .section-reviews .reviews__author {
    color: #0a1736; }
  .section-reviews .reviews__author {
    font-weight: 700; }
  .section-reviews a {
    margin-top: 16px;
    grid-area: 2 / 2 / 3 / -1;
    max-width: max-content;
    justify-self: end; }
    @media only screen and (max-width: 43.75em) {
      .section-reviews a {
        grid-area: 3 / 1 / 4 / -1; } }
    @media only screen and (max-width: 37.5em) {
      .section-reviews a {
        grid-area: unset; } }
    .section-reviews a:hover {
      transform: translateX(2px);
      /*          X  Y   blur        color*/
      box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1); }

.section-consider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem; }
  @media only screen and (max-width: 56.25em) {
    .section-consider {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px; } }
  @media only screen and (max-width: 37.5em) {
    .section-consider {
      grid-template-columns: 1fr; } }
  .section-consider.must-considers .considers__consider > div {
    height: 388px;
    position: relative; }
  .section-consider.must-considers .considers__consider h4 {
    background-color: #c5161c !important;
    font-size: 14px; }
  .section-consider.must-considers .considers__consider p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10.5rem;
    background-image: url(../imgs/poster_bluebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    color: #fff;
    max-width: unset; }
    .section-consider.must-considers .considers__consider p span {
      max-width: 24rem;
      margin-top: 20px; }
  .section-consider.must-considers .considers__consider > div {
    background-image: none !important; }
  .section-consider.must-considers .considers__consider img {
    max-width: 32.8rem;
    max-height: 30.2rem;
    margin-top: 0 !important; }
  .section-consider .considers__consider > div {
    background: #fafafb;
    border: 1px solid #d1d1d2;
    border-radius: 5px;
    padding: 16px 0;
    height: 356px; }
  .section-consider .considers__consider h4 {
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 12px; }
  .section-consider .considers__consider .heading-primary--sub {
    font-weight: 700; }
  .section-consider .considers__consider p {
    text-align: center;
    max-width: 28rem;
    margin: auto;
    line-height: 2rem; }
  .section-consider .considers__consider img {
    display: flex;
    margin: auto;
    margin-top: 2.8rem; }
  .section-consider .considers__consider a {
    margin-top: 14px;
    width: 100%;
    text-align: center; }
  .section-consider .considers__consider:nth-of-type(1) h4 {
    background-color: #083588; }
  .section-consider .considers__consider:nth-of-type(1) p {
    font-weight: 700; }
  .section-consider .considers__consider:nth-of-type(1) > div {
    background-image: linear-gradient(180deg, #fbfbfb 40%, #083588 120%); }
  .section-consider .considers__consider:nth-of-type(2) h4 {
    background-color: #054f80; }
  .section-consider .considers__consider:nth-of-type(2) p {
    font-weight: 700; }
  .section-consider .considers__consider:nth-of-type(2) > div {
    background-image: linear-gradient(180deg, #fbfbfb 40%, #054f80 120%); }
  .section-consider .considers__consider:nth-of-type(2) img {
    margin-top: 4.8rem; }
  .section-consider .considers__consider:nth-of-type(3) h4 {
    background-color: #c5161c; }
  .section-consider .considers__consider:nth-of-type(3) p {
    font-weight: 700; }
  .section-consider .considers__consider:nth-of-type(3) > div {
    background-image: linear-gradient(180deg, #fbfbfb 40%, #c5161c 120%); }
  .section-consider .considers__consider:nth-of-type(3) img {
    margin-top: 4.8rem; }

.section-updates {
  display: grid;
  grid-template-columns: 1fr; }
  .section-updates .updates__left {
    background: #fafafa;
    border: 1px solid #dcddde;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 43.75em) {
      .section-updates .updates__left img {
        max-height: 502px; } }
  .section-updates .updates__right {
    border-radius: 5px;
    border: 1px solid #dbe0e2;
    align-self: start;
    padding-bottom: 16px; }
  .section-updates .updates__heading {
    width: 100%;
    height: 42px;
    background-color: #c5161c;
    font-weight: 700;
    margin-top: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .section-updates .updates__btns {
    align-self: center;
    padding: 0 14px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../imgs/poster_bluebg.png) no-repeat center top;
    background-size: 100% 100%;
    width: 100%;
    height: 134px;
    border-radius: 5px; }
    @media only screen and (max-width: 31.25em) {
      .section-updates .updates__btns {
        height: 184px;
        flex-direction: column;
        justify-content: end;
        align-items: unset;
        gap: 12px; } }
    .section-updates .updates__btns button {
      font-size: 12px;
      border: 1px solid #fff; }
  .section-updates .updates__head {
    height: 42px;
    width: 100%;
    background-color: #0a1736;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px; }
  .section-updates .updates__posts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    padding-bottom: 0; }
    .section-updates .updates__posts--seeAll {
      padding: 16px;
      padding-top: 0;
      text-decoration: none;
      color: #054f80;
      transition: all 0.3s; }
      .section-updates .updates__posts--seeAll:hover {
        text-decoration: underline; }
  .section-updates .updates__post {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid #dbe0e2;
    padding-bottom: 16px; }
    .section-updates .updates__post--title {
      font-weight: 700;
      color: #cfa014; }
    .section-updates .updates__post--text {
      color: #777777;
      line-height: 16px; }

.section-about .about__heading {
  width: 100%;
  padding: 16px;
  background-color: #054f80;
  color: #fff;
  border-radius: 5px; }

.section-about .about__text {
  line-height: 18px; }
  .section-about .about__text strong {
    font-weight: 700; }
    .section-about .about__text strong:nth-of-type(2) {
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 6px; }

.section-about .about__trust {
  display: grid;
  grid-template-columns: 3.56fr 1.44fr;
  border: 1px solid #dcddde;
  border-radius: 5px; }
  @media only screen and (max-width: 56.25em) {
    .section-about .about__trust {
      grid-template-columns: 1fr; } }
  .section-about .about__trust--left {
    padding: 3rem 5rem;
    background: #fafafa; }
    @media only screen and (max-width: 75em) {
      .section-about .about__trust--left {
        padding: 24px; } }
    .section-about .about__trust--left h1 {
      color: #054f80; }
    .section-about .about__trust--left p {
      line-height: 18px;
      color: #8d8d8d; }
      .section-about .about__trust--left p strong {
        font-weight: 700;
        color: #054f80; }
  .section-about .about__trust--right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #054f80;
    border-radius: 5px; }
    @media only screen and (max-width: 56.25em) {
      .section-about .about__trust--right {
        display: none; } }
  .section-about .about__trust--triangle {
    width: 100%;
    height: 100%;
    background: url(../imgs/triangle-right.png) no-repeat left top;
    position: absolute;
    left: -2px;
    bottom: 0; }

.digital-poster #con-349j {
  display: flex;
  align-items: center;
  gap: 6px; }

.digital-poster .poster__solutions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 32px; }

.digital-poster .poster__solution {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px; }
  .digital-poster .poster__solution i {
    color: #054f80;
    font-size: 32px; }
  .digital-poster .poster__solution p {
    color: #cfa014; }

.digital-poster .section-widget-setState {
  padding: 24px;
  gap: 3.2rem;
  align-items: unset;
  justify-items: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none; }
  @media only screen and (max-width: 37.5em) {
    .digital-poster .section-widget-setState {
      padding: 16px;
      padding-top: 8px; } }

.digital-poster .setState__right {
  display: flex;
  align-items: center;
  flex-direction: column; }

.digital-poster .setState__p {
  line-height: 22px; }

.section-willGet {
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 4.8rem; }
  .section-willGet .willGet__top {
    padding: 3.2rem;
    background-color: #054f80;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px; }
    @media only screen and (max-width: 37.5em) {
      .section-willGet .willGet__top {
        grid-template-columns: 1fr; } }
    .section-willGet .willGet__top ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-left: 20px; }
    .section-willGet .willGet__top--left {
      max-width: 46rem; }
  .section-willGet .willGet__bottom {
    background: url(../imgs/bg-image.png) no-repeat padding-box;
    background-size: cover;
    padding: 24px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .section-willGet .willGet__bottom p {
      max-width: 70rem;
      margin: auto; }

.section-aboutCompany {
  margin-bottom: 4.8rem;
  text-align: center; }
  .section-aboutCompany h2 {
    color: #054f80; }
  .section-aboutCompany p {
    max-width: 70rem;
    margin: auto; }
  .section-aboutCompany .aboutCompany__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px; }

.section-someFacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  background-color: #fbfbfb;
  padding: 48px;
  border-radius: 5px; }
  @media only screen and (max-width: 43.75em) {
    .section-someFacts {
      grid-template-columns: 1fr; } }
  .section-someFacts .someFacts__fact {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    color: #054f80; }
    .section-someFacts .someFacts__fact h4 {
      color: #054f80; }
    .section-someFacts .someFacts__fact p {
      color: #171717; }
    .section-someFacts .someFacts__fact i {
      font-size: 32px; }

.section-faq h3 {
  color: #171717;
  font-weight: 700; }

.law-poster #con-349j {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px; }

.law-poster .setState__left {
  display: block;
  text-align: center; }
  .law-poster .setState__left img {
    border-top-left-radius: 5px;
    max-width: 47.9rem; }
    @media only screen and (max-width: 56.25em) {
      .law-poster .setState__left img {
        border-radius: 0; } }
    @media only screen and (max-width: 25em) {
      .law-poster .setState__left img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px; } }

.law-poster .setState__p {
  color: #054f80;
  font-weight: 700; }

.law-poster .setState__price {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  font-size: 48px;
  color: #054f80; }

.law-poster .section-aboutCompany {
  text-align: unset; }
  .law-poster .section-aboutCompany .border-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2.4rem;
    padding-bottom: 5.4rem;
    border-bottom: 2px solid #d1d1d2;
    border-radius: 5px; }
  .law-poster .section-aboutCompany .u-flex {
    width: 100%;
    max-width: 97rem;
    gap: 16px; }
    @media only screen and (max-width: 37.5em) {
      .law-poster .section-aboutCompany .u-flex {
        flex-direction: column;
        gap: 12px;
        max-width: unset; } }
  .law-poster .section-aboutCompany ul {
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 40.5rem; }
    .law-poster .section-aboutCompany ul:nth-of-type(1) {
      max-width: 35.5rem; }
    @media only screen and (max-width: 37.5em) {
      .law-poster .section-aboutCompany ul {
        max-width: unset; }
        .law-poster .section-aboutCompany ul:nth-of-type(1) {
          max-width: unset; } }
  .law-poster .section-aboutCompany ul li {
    padding-left: 8px;
    color: #777777; }
  .law-poster .section-aboutCompany ul li::marker {
    color: #054f80;
    font: var(--fa-font-solid);
    content: "\f00c"; }
  .law-poster .section-aboutCompany .heading-h4 {
    color: #054f80;
    text-align: center; }
  .law-poster .section-aboutCompany > p {
    text-align: center;
    max-width: unset; }

.section-products {
  margin-top: 5.4rem;
  text-align: center; }
  .section-products .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    justify-items: start;
    column-gap: 24px;
    row-gap: 32px; }
    .section-products .products__product {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 16px; }
      .section-products .products__product .heading-tertiary {
        color: #054f80; }
      .section-products .products__product p {
        max-width: 34rem; }
      .section-products .products__product img {
        border-radius: 5px 5px 0 0; }
    .section-products .products__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 12px; }
    .section-products .products__link {
      text-decoration: none;
      color: #777777;
      transition: all 0.3s; }
      .section-products .products__link:hover {
        color: #bbb; }

.law-poster .products {
  margin-top: 32px; }

.products-archive h4 {
  font-weight: 700;
  color: #054f80; }

.products-archive p {
  color: #777777; }

.products-archive .section-products {
  margin-top: 24px;
  text-align: unset; }
  @media only screen and (max-width: 64em) {
    .products-archive .section-products {
      margin-top: 0; } }

.products-archive .products {
  grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr)); }
  .products-archive .products__product {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 8px;
    box-shadow: 0 -3px 0 0 #054f80;
    padding-bottom: 16px; }

.section-all-updates .heading-h4 {
  color: #054f80; }

.update__updates {
  display: flex;
  flex-direction: column;
  gap: 3.2rem; }
  .update__updates.by-state {
    gap: 18px; }
    .update__updates.by-state .select-state .state-list {
      border: 1px solid #fafafb;
      background: none;
      color: #fff;
      padding: 2px 8px;
      font-weight: 400; }
      .update__updates.by-state .select-state .state-list:focus {
        outline: none; }
      .update__updates.by-state .select-state .state-list option {
        background: #054f80;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
  .update__updates.by-update {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px 20px;
    border: 1px solid #d1d1d2; }
    @media only screen and (max-width: 37.5em) {
      .update__updates.by-update {
        flex-direction: column;
        padding: 12px 14px;
        justify-content: start; } }

.update__state-box {
  padding: 16px 36px;
  border: 1px solid #d1d1d2;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .update__state-box {
      padding: 16px 28px; } }
  .update__state-box > p {
    padding: 0;
    cursor: pointer; }
    .update__state-box > p i {
      position: absolute;
      left: 16px;
      top: 18px;
      transition: all 0.3s; }
      @media only screen and (max-width: 37.5em) {
        .update__state-box > p i {
          left: 8px; } }
  .update__state-box .update__updates {
    padding: 16px 14px;
    display: none; }
  .update__state-box.active > p i {
    transform: rotate(180deg); }
  .update__state-box.active .update__updates {
    display: flex; }

.update__left {
  display: flex;
  flex-direction: column;
  gap: 0; }

.update__right {
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px; }
  @media only screen and (max-width: 37.5em) {
    .update__right {
      flex-direction: row;
      align-items: center; } }
  .update__right .btn__yellow {
    width: max-content; }

.update__heading {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background-color: #054f80;
  padding: 16px 12px; }
  .update__heading.select-state {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.update__see-history, .update__state {
  text-decoration: none;
  color: #054f80;
  width: max-content;
  transition: all 0.3s; }
  .update__see-history:hover, .update__state:hover {
    text-decoration: underline; }

.update__update {
  color: #777777; }

.update__title {
  padding: 8px 0; }

.single__product {
  display: grid;
  grid-template-columns: 2.1fr 3.1fr 3.3fr;
  gap: 32px;
  align-items: start; }
  @media only screen and (max-width: 43.75em) {
    .single__product {
      grid-template-columns: 1fr; } }
  .single__product--notices ul {
    padding-left: 10px; }

.single__pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(66px, 1fr));
  gap: 8px; }
  .single__pictures .img {
    max-width: 66px; }
  .single__pictures .img:nth-of-type(1) {
    max-width: 270px;
    grid-column: 1 / -1; }
  @media only screen and (max-width: 43.75em) {
    .single__pictures {
      margin: auto;
      justify-items: center; } }

@media only screen and (max-width: 64em) {
  .single__description {
    grid-column: 2 / -1; } }

@media only screen and (max-width: 43.75em) {
  .single__description {
    grid-column: unset; } }

.single__description ul {
  display: flex;
  flex-direction: column;
  gap: 8px; }
  .single__description ul li {
    padding-left: 7px; }
    .single__description ul li::marker {
      color: #054f80;
      font: var(--fa-font-solid);
      content: "\f0da"; }

.single__link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s; }
  .single__link:hover {
    text-decoration: underline; }

@media only screen and (max-width: 64em) {
  .single__pricing-staff {
    grid-area: 2 / 2 / 2 / -1; } }

@media only screen and (max-width: 43.75em) {
  .single__pricing-staff {
    grid-area: unset; } }

.single__pricing-staff--content {
  display: flex;
  flex-direction: column; }
  .single__pricing-staff--content .single__card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0; }

.single__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px; }

.single__icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px; }
  .single__icon i {
    font-size: 24px;
    color: #054f80; }
  .single__icon--title {
    font-size: 11px;
    color: #777777; }

.single__card {
  background: #fafafb;
  border-radius: 5px;
  border: 1px solid #fafafa;
  padding: 16px; }

.single__price {
  display: flex;
  justify-content: space-between;
  background: #dbe0e2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 16px; }

.single__number-box {
  display: flex;
  align-items: center;
  gap: 24px; }

.single__types {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px;
  width: 100%; }
  .single__types input:checked + label {
    background-color: #054f80;
    color: #fff; }

.single__type {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #054f80;
  border-radius: 5px;
  transition: all 0.3s ease; }
  .single__type:nth-of-type(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .single__type:nth-of-type(2) {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .single__type:nth-of-type(2)::before {
      content: "BEST VALUE";
      width: max-content;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -22px;
      padding: 6px 12px 3px 12px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: #fff;
      background-color: #cfa014;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px; }

.single .btn__yellow {
  width: 100%;
  padding: 14px 12px;
  font-size: 16px;
  font-weight: 700; }

.single__additionals > p {
  font-weight: 600; }

.single__additionals label {
  color: #777777;
  padding-left: 4px; }

.single__additionals--questions-p {
  margin-top: 8px; }
  .single__additionals--questions-p a {
    text-decoration: none;
    color: #054f80; }

.single__posterThings--header {
  padding: 8px 8px 0 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: linear-gradient(0deg, #050e21, #0a1735);
  display: flex;
  align-items: flex-end; }
  .single__posterThings--header ul {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 6px; }
    .single__posterThings--header ul li {
      height: 100%; }
      .single__posterThings--header ul li .btn__blue {
        cursor: pointer;
        border: none;
        font-weight: 700;
        height: 100%;
        padding: 8px 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #054f80;
        color: #fff;
        transition: all 0.2s ease-in-out; }
        .single__posterThings--header ul li .btn__blue:hover {
          padding: 14px 18px; }
        .single__posterThings--header ul li .btn__blue.active {
          padding: 14px 18px;
          background-color: #fff;
          color: #054f80; }

.single__posterThings--content {
  display: none; }
  .single__posterThings--content.active {
    display: block; }
    .single__posterThings--content.active#updates {
      display: flex;
      flex-direction: column;
      gap: 12px; }

.single__posterThings .single__card {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.single__info-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px; }
  @media only screen and (max-width: 43.75em) {
    .single__info-box {
      grid-template-columns: 1fr; } }

.single__info p {
  padding-bottom: 6px;
  border-bottom: 1px solid #bbb; }

.single__info ul {
  margin-top: 8px;
  padding-left: 6px;
  list-style-type: none; }

.single #updates ul {
  display: flex;
  flex-direction: column;
  gap: 4px; }

.single__simillars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 16px; }
  .single__simillars > p {
    grid-column: 1 / -1;
    padding-bottom: 12px;
    border-bottom: 1px solid #bbb; }

.single__simillar {
  padding: 12px 10px;
  border: 1px solid #d1d1d2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .single__simillar > a {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    transition: all 0.3s; }
    .single__simillar > a:hover {
      opacity: 0.8; }
  .single__simillar h4 {
    color: #cfa014; }

.number-box {
  display: flex;
  align-items: center;
  border-radius: 5px; }
  .number-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #8d8d8d;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer; }
    .number-box button:nth-of-type(1) {
      border-radius: 4px 0px 0px 4px; }
      .number-box button:nth-of-type(1)::after {
        content: "-";
        font-size: 24px;
        line-height: 0; }
      .number-box button:nth-of-type(1):hover {
        transform: translateX(-2px); }
      .number-box button:nth-of-type(1):active {
        transform: translateX(-20px); }
    .number-box button:nth-of-type(2) {
      border-radius: 0px 4px 4px 0px; }
      .number-box button:nth-of-type(2)::after {
        content: "+";
        font-size: 24px;
        line-height: 0; }
      .number-box button:nth-of-type(2):hover {
        transform: translateX(2px); }
      .number-box button:nth-of-type(2):active {
        transform: translateX(20px); }
    .number-box button:focus {
      outline: none; }

.qty__number {
  width: 40px;
  height: 40px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-top: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d; }
  .qty__number:focus {
    outline: none; }
  .qty__number::-webkit-inner-spin-button, .qty__number::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none; }
