.footer {
  margin-top: 64px;
  color: $color-grey--light;
  @include respond(phone) {
    margin-top: 32px;
  }
  &__top {
    width: 100%;
    background-color: $color-grey-5;
    padding: 4.2rem 0;
    & .container {
      display: grid;
      grid-template-columns: 1.5fr repeat(3, 1fr);
      @include respond(tab-phone) {
        grid-template-columns: 1fr 1fr;
        row-gap: 42px;
      }
      @include respond(phone) {
        grid-template-columns: 1fr;
        row-gap: 28px;
      }
    }
  }
  &__bottom {
    padding: 2.4rem 0;

    width: 100%;
    background-color: #0c0c0c;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & h4 {
      color: $color-white;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & strong {
      font-weight: 700;
      color: $color-white;
    }
  }

  &__link {
    &:link,
    &:visited {
      line-height: 18px;
      display: inline-block;
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      color: $color-grey;
    }
  }

  &__socials {
    @include alignCenter;
    gap: 12px;
    & a {
      text-decoration: none;
      color: inherit;

      &:hover {
        & i {
          transform: scale(1.1);
        }
      }
    }
    & i {
      font-size: 24px;
      transition: all 0.2s;
    }
  }
}
