.header {
  background-color: #fff;
  &__top {
    text-align: center;
    background-color: $color-red;
    color: $color-white;
    padding: 12px;
    & a {
      text-decoration: none;
      color: $color-white;
      display: inline-block;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: rgba(255, 255, 255, 0.9);
        text-decoration: underline;
      }
    }
  }

  &__phone-number {
    @include alignCenter;
    gap: 2px;

    & span {
      color: $color-blue;
      font-weight: 500;
    }

    & a {
      color: $color-black;
      text-decoration: none;
    }
  }

  &__content {
    &--nav {
      padding: 14px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-grey;
      &.mobile {
        padding: 24px;
        gap: 32px;
        flex-direction: column;
        border: none;
      }
    }

    &--list {
      align-self: center;
      list-style-type: none;
      @include alignCenter;

      gap: 2.4rem;
      &.mobile {
        flex-direction: column;
        gap: 32px;
        & a {
          font-size: 18px;
        }
      }
    }

    &--link {
      text-decoration: none;
      color: $color-primary;
      transition: all 0.2s;
      font-size: 12px;
      line-height: 14px;

      &:hover {
        color: $color-primary-light-1;
      }
    }

    &--content {
      @include alignCenter;
      justify-content: space-between;
      padding: 3.2rem 0;
      gap: 16px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $color-grey;
    border-radius: 40px;
    padding: 1.2rem 1.8rem;
    width: 100%;
    max-width: 31rem;

    & input {
      border: none;
      background: none;
      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-grey-3;
      }
    }

    span {
      cursor: pointer;
    }

    & i {
      font-size: 18px;
      color: $color-grey;
    }
  }

  &__nav {
    height: 5.6rem;
    background-image: linear-gradient(0deg, #050e21, #0a1735);
    &.mobile {
      height: auto;
      background-image: none;
    }
  }

  &__list {
    list-style-type: none;
    @include alignCenter;
    justify-content: space-between;
    height: 100%;
    &.mobile {
      flex-direction: column;
      align-items: unset;
      gap: 12px;
      color: $color-primary;
      & .header__link {
        font-size: 18px;
      }
      & a {
        color: $color-primary;
      }
      & li:hover {
        &::after {
          width: 0%;
        }
      }

      & > li:not(:first-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__item {
    cursor: pointer;
    height: 100%;
    position: relative;
    @include alignCenter;
    &.mobile {
      display: unset;
    }
    &::after {
      content: "";
      background-color: $color-tertiary-dark;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 3px;
      z-index: 999;
      transition: all 0.3s ease;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    &.mobile {
      color: $color-primary;

      width: 100%;
      @include alignCenter;
      justify-content: space-between;
      &.drop-down__before-box {
        margin-bottom: 12px;
      }
    }
  }

  &__browse {
    position: relative;
    & a {
      font-size: 16px;
    }
    &.header__item {
      a {
        @include alignCenter;
        gap: 5px;
        i {
          font-size: 10px;
        }
      }
    }
    &:hover {
      & > ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__submenu {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 14px;
    &.desktop {
      z-index: 99999;
      width: 40rem;
      padding: 12px;
      padding-top: 16px;
      border-top: 5px solid $color-orange;
      position: absolute;
      top: 50px;
      background-color: $color-white;
      border-radius: 6px;
      box-shadow: 0 7px 10px -2px rgba(55, 55, 55, 6%);
      display: flex;
      flex-direction: column;
      gap: 6px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in;
    }

    &.desktop &--item {
      &:last-child {
        margin-top: 8px;
      }
    }
    &--link {
      @include alignCenter;
      justify-content: space-between;
      text-decoration: none;
      color: $color-primary;
      transition: all 0.2s;
      line-height: 18px;
      &:hover {
        color: $color-orange;
      }
    }
    &.x2 {
      gap: 8px;
      padding-top: 12px;
      padding-left: 18px;
    }
    &.desktop.x2 {
      width: 31.6rem;
      top: -10px;
      left: 103%;
      border-radius: 0;
      & li:last-child {
        margin: 0;
      }
    }
  }

  &__mobile {
    &--nav {
      width: 100vw;
      overflow: scroll;
      height: 100%;
      background-color: $color-white;
      z-index: 10000;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      gap: 24px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100%);
      transition: all 0.4s ease-in;
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
      }
    }

    &--header {
      align-self: center;
      .close-btn {
        position: absolute;
        top: 16px;
        right: 24px;
      }
    }

    &--list {
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-out;

      &.active {
        height: auto;
        opacity: 1;
        visibility: visible;
        &.first {
          margin-top: 54px;
        }
      }
    }

    &--btns {
      justify-self: center;
    }
  }
}
.open-btn,
.close-btn {
  border: none;
  background: none;
  font-size: 32px;
}
.drop-down__before-box {
  & i.fa-chevron-down {
    transition: all 0.3s;
  }
  &.active {
    & i.fa-chevron-down {
      transform: rotate(180deg);
    }
  }
}
