.section-widget-setState {
  display: grid;
  grid-template-columns: 1.57fr 3.25fr;
  @include respond(tab-phone) {
    grid-template-columns: 1fr;
  }
  align-items: center;
  background: $color-grey-6;
  border: 1px solid $color-grey-7;
  border-radius: 5px;
  .setState {
    @include respond(tab-phone) {
      &__left {
        display: none;
      }
    }
    &__right {
      padding: 16px 0;
      & > * {
        text-align: center;
      }
      h2 {
        color: $color-blue;
        text-transform: uppercase;
      }

      h4 {
        margin-top: 8px;
        font-weight: 700;
      }

      h3 {
        line-height: 20px;
        background: $color-blue;
        color: $color-white;
        padding: 5px 16px;
      }
    }
    &__qoute {
      font-size: 13px;
      line-height: 17px;
      font-style: italic;
      color: $color-grey-5;
    }

    &__p {
      color: $color-grey-5;
      padding: 0 16px;
    }

    &__red-p {
      font-weight: 700;
      line-height: 20px;
      color: $color-red;
      max-width: 52.7rem;
      margin: auto;
    }
  }
}

.section-benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include respond(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
  border-top: 1px solid $color-grey-8;
  border-bottom: 1px solid $color-grey-8;
  background-color: $color-grey-9;
  border-radius: 5px;
  .benefits {
    &__benefit {
      padding: 24px 0;

      @include alignCenter;
      justify-content: center;
      @include respond(phone) {
        padding-left: 16px;
        justify-content: unset;
      }
      gap: 12px;
      & i {
        font-size: 28px;
        color: $color-grey-5;
      }
      & h4 {
        color: $color-grey-5;
        font-size: 16px;
        font-weight: 700;
      }

      &:not(:last-child) {
        border-right: 1px solid $color-grey;
      }
      @include respond(tablet) {
        &:not(:last-child) {
          border-right: unset;
        }
        &:nth-of-type(3) {
          grid-column: 1 / -1;
        }
        &:nth-of-type(1) {
          border-right: 1px solid $color-grey;
        }
      }
      @include respond(phone) {
        &:nth-of-type(3) {
          grid-column: unset;
        }
        &:nth-of-type(1) {
          border-right: none;
        }
      }
    }
  }
}

.section-clients {
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: $color-blue;
  }
}

.section-reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  @include respond(tablet) {
    grid-template-rows: auto auto;
    column-gap: 16px;
  }
  @include respond(tab-phone) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  .reviews {
    &__review {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
    }

    &__text,
    &__author {
      color: $color-grey-dark;
    }

    &__author {
      font-weight: 700;
    }
  }

  a {
    margin-top: 16px;
    grid-area: 2 / 2 / 3 / -1;
    @include respond(tab-phone) {
      grid-area: 3 / 1 / 4 / -1;
    }
    @include respond(phone) {
      grid-area: unset;
    }
    max-width: max-content;
    justify-self: end;
    &:hover {
      transform: translateX(2px);
      /*          X  Y   blur        color*/
      box-shadow: -0.5rem 0 1rem rgba($color-black, 0.1);
    }
  }
}

.section-consider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
  &.must-considers {
    .considers {
      &__consider {
        & > div {
          height: 388px;
          position: relative;
        }
        & h4 {
          background-color: $color-red !important;
          font-size: 14px;
        }

        & p {
          @include alignCenter;
          justify-content: center;
          font-weight: 700;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 10.5rem;
          background-image: url(../imgs/poster_bluebg.png);
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          font-size: 14px;
          color: $color-white;
          max-width: unset;
          & span {
            max-width: 24rem;
            margin-top: 20px;
          }
        }
        & > div {
          background-image: none !important ;
        }

        & img {
          max-width: 32.8rem;
          max-height: 30.2rem;
          margin-top: 0 !important;
        }
      }
    }
  }
  .considers {
    &__consider {
      & > div {
        background: $color-grey-6;
        border: 1px solid $color-grey-7;
        border-radius: 5px;
        padding: 16px 0;
        height: 356px;
      }

      & h4 {
        text-transform: uppercase;
        color: $color-white;
        width: 100%;
        text-align: center;
        padding: 12px;
      }

      & .heading-primary--sub {
        font-weight: 700;
      }

      & p {
        text-align: center;
        max-width: 28rem;
        margin: auto;
        line-height: 2rem;
      }

      & img {
        display: flex;
        margin: auto;
        margin-top: 2.8rem;
      }

      & a {
        margin-top: 14px;
        width: 100%;
        text-align: center;
      }

      &:nth-of-type(1) {
        & h4 {
          background-color: $color-blue-dark;
        }

        & p {
          font-weight: 700;
        }
        & > div {
          background-image: linear-gradient(
            180deg,
            $color-grey-9 40%,
            $color-blue-dark 120%
          );
        }
      }
      &:nth-of-type(2) {
        & h4 {
          background-color: $color-blue;
        }

        & p {
          font-weight: 700;
        }
        & > div {
          background-image: linear-gradient(
            180deg,
            $color-grey-9 40%,
            $color-blue 120%
          );
        }

        & img {
          margin-top: 4.8rem;
        }
      }
      &:nth-of-type(3) {
        & h4 {
          background-color: $color-red;
        }

        & p {
          font-weight: 700;
        }
        & > div {
          background-image: linear-gradient(
            180deg,
            $color-grey-9 40%,
            $color-red 120%
          );
        }
        & img {
          margin-top: 4.8rem;
        }
      }
    }
  }
}

.section-updates {
  display: grid;
  grid-template-columns: 1.84fr 2.54fr;
  gap: 16px;
  @include respond(tab-phone) {
    grid-template-columns: 1fr;
  }
  .updates {
    &__left {
      background: #fafafa;
      border: 1px solid #dcddde;
      border-radius: 5px;
      position: relative;
      margin-bottom: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      @include respond(tab-phone) {
        & img {
          max-height: 502px;
        }
      }
    }

    &__right {
      border-radius: 5px;
      border: 1px solid $color-grey-2;
      align-self: start;
      padding-bottom: 16px;
    }

    &__heading {
      width: 100%;
      height: 42px;
      background-color: $color-red;
      font-weight: 700;
      margin-top: 12px;
      color: $color-white;
      @include alignCenter;
      justify-content: center;
      text-align: center;
    }

    &__btns {
      align-self: center;
      padding: 0 14px;
      padding-bottom: 24px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 16px;

      position: absolute;
      bottom: 0;
      left: 0;

      background: url(../imgs/poster_bluebg.png) no-repeat center top;
      background-size: 100% 100%;
      width: 100%;
      height: 134px;
      border-radius: 5px;
      @include respond(phone-port) {
        height: 184px;
        flex-direction: column;
        justify-content: end;
        align-items: unset;
        gap: 12px;
      }
      & button {
        font-size: 12px;
        border: 1px solid $color-white;
      }
    }

    &__head {
      height: 42px;
      width: 100%;
      background-color: $color-grey-dark;
      color: $color-white;
      @include alignCenter;
      justify-content: center;
      padding: 0 12px;
    }

    &__posts {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      padding-bottom: 0;

      &--seeAll {
        padding: 16px;
        padding-top: 0;
        text-decoration: none;
        color: $color-blue;
        transition: all 0.3s;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__post {
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-bottom: 1px solid $color-grey-2;
      padding-bottom: 16px;

      &--title {
        font-weight: 700;
        color: $color-orange;
      }

      &--text {
        color: $color-grey--light;
        line-height: 16px;
      }
    }
  }
}

.section-about {
  .about {
    &__heading {
      width: 100%;
      padding: 16px;
      background-color: $color-blue;
      color: $color-white;
      border-radius: 5px;
    }

    &__text {
      line-height: 18px;
      & strong {
        font-weight: 700;
        &:nth-of-type(2) {
          display: inline-block;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 6px;
        }
      }
    }

    &__trust {
      display: grid;
      grid-template-columns: 3.56fr 1.44fr;
      @include respond(tab-port) {
        grid-template-columns: 1fr;
      }
      border: 1px solid $color-grey-11;
      border-radius: 5px;
      &--left {
        padding: 3rem 5rem;
        @include respond(tab-land) {
          padding: 24px;
        }
        background: $color-grey-10;

        & h1 {
          color: $color-blue;
        }
        & p {
          line-height: 18px;
          color: $color-grey-3;
          & strong {
            font-weight: 700;
            color: $color-blue;
          }
        }
      }

      &--right {
        @include respond(tab-port) {
          display: none;
        }
        @include alignCenter;
        justify-content: center;
        position: relative;
        background-color: $color-blue;
        border-radius: 5px;
      }
      &--triangle {
        width: 100%;
        height: 100%;
        background: url(../imgs/triangle-right.png) no-repeat left top;

        position: absolute;
        left: -2px;
        bottom: 0;
      }
    }
  }
}
