.products-archive {
  h4 {
    font-weight: 700;
    color: $color-blue;
  }

  p {
    color: $color-grey--light;
  }
  .section-products {
    margin-top: 24px;
    text-align: unset;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    &__product {
    }
  }
}
